<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <table class="page-container">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table class="section-table intro-table">
          <tr style="padding:0px">
            <td class="intro-copy">
              <p class="name" style="text-align:center;">Jianbiao Mei</p>
              <p>
                I received my Ph.D. in June 2026 from the Department of Control Science and Engineering at
                <a href="https://www.zju.edu.cn/">Zhejiang University</a>, advised by
                <a href="https://scholar.google.com/citations?hl=en&user=qYcgBbEAAAAJ">Prof. Yong Liu</a> at the
                <a href="https://april.zju.edu.cn/">APRIL Lab</a>. Before that, I received my B.Eng. in June 2021 from the same department
                with an honors degree at Chu Kochen Honors College.
              </p>
              <p>
                 I am currently a researcher at <a href="https://www.shlab.org.cn/">Shanghai AI Laboratory</a>, where I study AI agents and their applications to autonomous scientific discovery. My research interests span self-evolving agents, post-training, and agentic world modeling, informed by my prior work in foundational computer vision, including 3D scene understanding, as well as video understanding and generation. More broadly, I aim to develop intelligent systems that understand the world, learn proactively through interaction, and continually improve over time. I view these capabilities as essential for building agents that can advance scientific discovery, including AI research itself.

              </p>
              <p style="text-align:center">
                <a href="mailto:jianbiaomei@zju.edu.cn">Email</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=OUtPkg0AAAAJ">Scholar</a> &nbsp;/&nbsp;
                <a href="https://github.com/Jieqianyu">GitHub</a>
              </p>
            </td>
            <td class="intro-photo-cell">
              <a href="images/jianbiao_mei.jpg"><img class="profile-photo" alt="profile photo" src="images/jianbiao_mei.jpg"></a>
            </td>
          </tr>
        </table>

        <table class="section-table">
          <tr>
            <td class="section-heading-cell">
              <h2>News</h2>
              <div class="news-scroll">
              <p class="news-item"><strong>Jul 2026</strong> - One paper was accepted to WAICA 2026: <a href="https://waica2026.worldaic.com.cn/program/accepted-paper-list-main-conference/">IG-Searcher</a>.</p>
              <p class="news-item"><strong>Jul 2026</strong> - One paper was accepted to TMLR 2026: <a href="https://arxiv.org/abs/2505.16582">O2-Searcher</a>.</p>
              <p class="news-item"><strong>Apr 2026</strong> - One paper was accepted to ICML 2026: <a href="https://arxiv.org/abs/2510.16079">Evolver</a>.</p>
              <p class="news-item"><strong>Apr 2026</strong> - Two papers were accepted to ACL Findings 2026: <a href="https://arxiv.org/abs/2601.08173">TraineeBench</a> and <a href="https://arxiv.org/abs/2510.08002">MUSE</a>.</p>
              <p class="news-item"><strong>Jan 2026</strong> - One paper was accepted to ICRA 2026: <a href="https://arxiv.org/abs/2510.16729">IR-WM</a>.</p>
              <p class="news-item"><strong>Sep 2025</strong> - One paper was accepted to NeurIPS 2025: <a href="https://x-scene.github.io/">X-Scene</a>.</p>
              <p class="news-item"><strong>Jul 2025</strong> - One paper was accepted to ACM MM 2025: <a href="https://arxiv.org/abs/2507.11334">CogDDN</a>.</p>
              <p class="news-item"><strong>Jun 2025</strong> - One paper was accepted to ICCV 2025: <a href="https://pjlab-adg.github.io/DriveArena/">DriveArena</a>.</p>
              <p class="news-item"><strong>Dec 2024</strong> - One paper was accepted to AAAI 2025 as an oral presentation: <a href="https://drive-occworld.github.io">Drive-OccWorld</a>.</p>
              <p class="news-item"><strong>Oct 2024</strong> - One paper was accepted to NeurIPS 2024: <a href="https://pjlab-adg.github.io/LeapAD/">LeapAD</a>.</p>
              <p class="news-item"><strong>Sep 2024</strong> - One paper was accepted to TIP 2024: <a href="https://arxiv.org/abs/2312.05752">SGN</a>.</p>
              <p class="news-item"><strong>Aug 2023</strong> - One paper was accepted to ACM MM 2023: <a href="https://dl.acm.org/doi/10.1145/3581783.3612080">CenterLPS</a>.</p>
              <p class="news-item"><strong>Jun 2023</strong> - Two papers were accepted to IROS 2023: <a href="https://arxiv.org/abs/2306.15349">SSC-RS</a> and <a href="https://arxiv.org/abs/2306.15348">PANet</a>.</p>
              <p class="news-item"><strong>Feb 2023</strong> - One paper was accepted to ACM TIST 2023: <a href="https://dl.acm.org/doi/abs/10.1145/3585076">TMN</a>.</p>
              <p class="news-item"><strong>Sep 2022</strong> - One paper was accepted to TIP 2022: <a href="https://ieeexplore.ieee.org/document/9904497">MaskVOS</a>.</p>
              </div>
            </td>
          </tr>
        </table>

        <table class="section-table">
          <tr>
            <td class="section-heading-cell">
              <h2>Research</h2>
              <p>
                * indicates equal contributions, † indicates equal advising.
              </p>
            </td>
          </tr>
        </table>

        <table class="section-table publication-table">
          {% for post in site.posts %}
          {% if post.categories contains 'publication' %}
          <tr class="{% if post.highlight %}publication-highlight{% endif %}">
            <td class="publication-image-cell">
              <img class="publication-image" src="{{ post.image }}" alt="project image" />
            </td>
            <td class="publication-copy">
              {% assign title_link = post.arxiv | default: post.pdf | default: post.website | default: post.code %}
              {% if title_link %}<a href="{{ title_link }}">{% endif %}<span class="papertitle">{{ post.title }}</span>{% if title_link %}</a>{% endif %}
              <br>
              {{ post.authors }}
              <br>
              <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}{% if post.note %} <span class="oral">({{ post.note }})</span>{% endif %}
              <br>
              {% assign link_count = 0 %}
              {% if post.arxiv %}
                <a href="{{ post.arxiv }}">arXiv</a>
                {% assign link_count = link_count | plus: 1 %}
              {% endif %}
              {% if post.code %}
                {% if link_count > 0 %} / {% endif %}<a href="{{ post.code }}">code</a>
                {% assign link_count = link_count | plus: 1 %}
              {% endif %}
              {% if post.website %}
                {% if link_count > 0 %} / {% endif %}<a href="{{ post.website }}">project page</a>
                {% assign link_count = link_count | plus: 1 %}
              {% endif %}
              {% if post.pdf %}
                {% if link_count > 0 %} / {% endif %}<a href="{{ post.pdf }}">PDF</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

        <table class="section-table">
          <tr>
            <td class="section-heading-cell">
              <h2>Service</h2>
              <ul class="service-list">
                <li>Reviewer of TPAMI, TIP, TMM, TCSVT, RAL, CVPR, ECCV, NeurIPS, ICLR, AAAI, ACM MM, BMVC, ICRA, IROS, et al.</li>
              </ul>
            </td>
          </tr>
        </table>

        <table class="section-table">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                This website is adapted from <a style="font-size:small;" href="https://jonbarron.info">this amazing template</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
